SOAP/COMP74_A3_RealOrtelli/Client/Service References/CurrencyService/CurrencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35110/CurrencyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35110/CurrencyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35110/CurrencyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyService_getCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencies" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_getCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_getCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountries" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_getCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_getCurrencyCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyCodes" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_getCurrencyCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyService">
    <wsdl:operation name="getCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/getCurrencies" message="tns:ICurrencyService_getCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/getCurrenciesResponse" message="tns:ICurrencyService_getCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/getCountries" message="tns:ICurrencyService_getCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/getCountriesResponse" message="tns:ICurrencyService_getCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/getCurrencyCodes" message="tns:ICurrencyService_getCurrencyCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/getCurrencyCodesResponse" message="tns:ICurrencyService_getCurrencyCodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyService" type="tns:ICurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCurrencies">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/getCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountries">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/getCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyCodes">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/getCurrencyCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port name="BasicHttpBinding_ICurrencyService" binding="tns:BasicHttpBinding_ICurrencyService">
      <soap:address location="http://localhost:35110/CurrencyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>